<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>843991207929-2va4a2ie0leahqad07qv24uked40lk64.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.843991207929-2va4a2ie0leahqad07qv24uked40lk64</string>
	<key>API_KEY</key>
	<string>AIzaSyCqQi1anY3VK7TQ5hD5JxIvzSpgi4TQGEE</string>
	<key>GCM_SENDER_ID</key>
	<string>843991207929</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codewithviet.AppChatSwift</string>
	<key>PROJECT_ID</key>
	<string>appchatswift-e8949</string>
	<key>STORAGE_BUCKET</key>
	<string>appchatswift-e8949.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:843991207929:ios:984004d19f62599ec9b728</string>
</dict>
</plist>